profiles {
    standard {
        report.enabled = true
        report.overwrite = true

        dag.enabled = true
        dag.overwrite = true
        dag.file = 'pipeline_dag.html'

        trace.enabled = true
        trace.overwrite = true
        
        timeline.enabled = true
        timeline.file = 'pipeline_trace.txt'
        timeline.fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    }

    conda {
        conda.enabled = true
    }

    docker {
        docker.enabled = true
        docker.remove = true
    }
}